/* font definition*/

@font-face {
	font-family: 'gan';
	src: url('../font/ganclm_bold-webfont.eot') format('eot'), url
	('../font/ganclm_bold-webfont.woff') format('woff'), url
	('../font/ganclm_bold-webfont.ttf') format('ttf');
}

/*   body  /*/

html, body {
	direction: rtl;
	text-align: right;
}

/* bmi info */

#bmiInfo {
	border: 2px solid #3D8A99;
	width: 42%;
	color: #595241;
	line-height: 1.5em;
	padding: 0.6em;
	font-size: 1.3em;
	display: none;
	vertical-align: top;
}
#bmiInfo h1 {
	font-size: 2em;
	color: #D87020;
	margin: 0.4em;
	text-align: center;
	text-decoration: underline;
}
#bmires {
	color: #8A0917;
	font-weight: bold;
	font-size: 2em;
}

/* BmiCalc div */
#BmiCal {
	display: inline-block;
	width: 50%;
	margin: 0 auto;
	font-family: 'gan';
}
#BmiCal form {
	position: relative;
	width: 90%;
	height: 400px;
	display: inline-block;
	border: 1px solid #7994A7;
	border-radius: 3%;
	padding: 1em;
	background: url("../images/bmibackground.png") no-repeat 0 0;
	background-size: 100% 100%;
}
/*BMI calc wrappers*/

#CalcWrap {
	width: 80%;
	margin: 0 auto;
	position: relative;
}
/* BMI calc fields  */

.bmiFields {
	display: block;
	width: 80%;
	height: 30px;
}

.bmif {
	position: relative;
	display: block;
	font-size: 2em;
	font-family: Arial;
	color: #3D8A99;
	width: 100%;
	margin: 5px;
}

.bmiFields input {
	position: relative;
	width: 50%;
}

.bmif p, span {
	font-size: 0.4em;
}

#bmiAge {
	position: absolute;
	left: 0;
	width: 50%;
}

#bmiGender {
	position: absolute;
	right: 0em;
	width: 40%;
}
#personHeight {
	position: absolute;
	left: -4em;
	top: 9em;
	width: 30%;
	height: 7em;
}
#personWeight {
	position: absolute;
	right: -2em;
	top: 9em;
	width: 30%;
	height: 7em;
}
#bmiresultWrapper {
	direction: ltr;
	text-align: left;
	position: absolute;
	left: 10em;
	top: 16em;
	width: 30%;
	height: 7em;
}
#bmiresultWrapper h2 {
	color: #D87020;
	font-family: Courier;
}

/* male female field  */
#male, #female {
	width: 10%;
	color: #3D8A99;
}
#female {
	margin-right: 15px;
}

/*  submit buttons */
.bmiBtn {
	width: 30%;
	margin: 0 auto;
}
#bmiSubWrapper {
	width: 50%;
	margin: 0.5em auto;
	position: absolute;
	top: 21.5em;
	right: 8em;
}

/* media queries  */

@media (max-width: 768px) and (orientation: portrait) {
	/* logo design */

	div.logo {
		float: clear;
		text-align: center;
		width: 100%;
	}
	div.logo img#logo {
		width: 2em;
		height: 2em;
	}
	/* nav bar */
	nav#nav-bar {
		display: block;
		margin: 1em 0;
		float: clear;
		direction: rtl;
	}
	ul#main-menu li {
		display: block;
		position: relative;
		width: 10em;
		text-align: center;
	}
	ul#main-menu  a {
		text-decoration: none;
		display: block;
		color: #819BAC;
		background-color: #F4F4F4;
		border-right: 1px solid #FFFFFF;
	}
	/*search design  */
	div#search {

		width: 50%;
		margin: 2em auto;
		height: 5em;
	}
	#BmiCal {
		display: block;
		width: 100%;
		margin: 0 auto;
		font-family: 'gan';
	}
	#BmiCal form {
		position: relative;
		width: 100%;
		height: 400px;
		display: inline-block;
		border: 1px solid #7994A7;
		padding: 1em;
	}
	#CalcWrap {
		width: 100%;
		margin: 0 auto;
		position: relative;
	}
	#bmiInfo {

		width: 100%;
	}
	
	#bmiAge {
	position: absolute;
	left: 0;
	width: 50%;
}

#bmiGender {
	
	right: 1em;
	width: 40%;
}
#personHeight {
	position: absolute;
	left: -2em;
	top: 9em;
	width: 30%;
	height: 7em;
}
#personWeight {
	position: absolute;
	right: 0em;
	top: 9em;
	width: 30%;
	height: 7em;
}

}